################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/APIGateway/bin/Debug/net8.0
/src/APIGateway/obj
/src/AuthenticationAPI/bin/Debug/net8.0
/src/AuthenticationAPI/obj
/src/CatalogRestAPI/Application/bin/Debug/net8.0
/src/CatalogRestAPI/Application/obj
/src/CatalogRestAPI/CatalogMessageBroker/bin/Debug/net8.0
/src/CatalogRestAPI/CatalogMessageBroker/obj
/src/CatalogRestAPI/CatalogRestAPI/bin/Debug/net8.0
/src/CatalogRestAPI/CatalogRestAPI/obj
/src/CatalogRestAPI/Domain/bin/Debug/net8.0
/src/CatalogRestAPI/Domain/obj
/src/CatalogRestAPI/HelperUtils/bin/Debug/net8.0
/src/CatalogRestAPI/HelperUtils/obj
/src/CatalogRestAPI/Persistence/bin/Debug/net8.0
/src/CatalogRestAPI/Persistence/obj
/src/CommonUtils/bin/Debug/net8.0
/src/CommonUtils/obj
/src/MessageBroker/AzureMessageBroker/bin/Debug/net8.0
/src/MessageBroker/AzureMessageBroker/obj
/src/obj/Docker
/src/ShoppingCartRestAPI/Application/bin/Debug/net8.0
/src/ShoppingCartRestAPI/Application/obj
/src/ShoppingCartRestAPI/CartMessageBroker/bin/Debug/net8.0
/src/ShoppingCartRestAPI/CartMessageBroker/obj
/src/ShoppingCartRestAPI/Domain/bin/Debug/net8.0
/src/ShoppingCartRestAPI/Domain/obj
/src/ShoppingCartRestAPI/Domain.UnitTests/bin/Debug/net8.0
/src/ShoppingCartRestAPI/Domain.UnitTests/obj
/src/ShoppingCartRestAPI/Persistence/bin/Debug/net8.0
/src/ShoppingCartRestAPI/Persistence/obj
/src/ShoppingCartRestAPI/ShoppingCartRestAPI/bin/Debug/net8.0
/src/ShoppingCartRestAPI/ShoppingCartRestAPI/obj
/src/.vs
/src/CatalogRestAPI/.vs
